body {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Inter-Regular";
    src: url('../font-family/inter/Inter-Regular.ttf');
}

@font-face {
    font-family: "Inter-SemiBold";
    src: url('../font-family/inter/Inter-SemiBold.ttf');
}